@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #eeeeee;
}

section {
    animation: smoothLoad 1.2s ease;

}


body {
    margin-top: 8vh;
    font-family: 'Montserrat', sans-serif;
    background: url(../img/Background.jpg);
}

button {
    font-family: 'Montserrat', sans-serif;
    color: #eeeeee;
}

    /*HEADER*/

header {
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%;
    display: flex;
    background: #222831;
    border-bottom: 2px solid #393e46;
    align-items:center;
    height: 7vh;
    justify-content: space-around;
}

.nav-links {
    display:flex;
}

.nav-link:hover {
    color: #00adb5;
}

.logo-container {
    margin-left: 20px;
    display: flex;
    width: 185px;
    height: 100%;
    align-items: center;
}

.logo-container .logo {
    width: 100%;
    height: 100%;
}

nav {
    display:flex;
    align-items: center;
    width: 60%;
    height: 100%;
}

.nav-links {
    list-style: none;
    /*xxxx*/
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    letter-spacing: 1px;
}

.burger {
    transition: all 0.3s ease;
    display:none;
}
        /*END HEADER*/

                /*FOOTER*/
footer {
    background: #222831;
    border-top: 2px solid #393e46;
/*    position:absolute;
    bottom: 0;
    width:100%;*/
}
.main-content {
    display:flex;
}

.main-content .box{
    flex-basis: 50%;
    padding:10px 20px;
}
.box h2 {
    font-size:18px;
    font-weight:600;
    text-transform:uppercase;
}
.box .content {
    margin-top: 20px;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #393e46;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #00adb5;
    top: -10px;
}

.left .content .social {
    margin-top:20px;
}

.left .content p{
    text-align:justify;
}


.left .content .social a{
    padding-right:2px;
    
}
.left .content .social a i{
    height: 40px;
    width: 40px;
    background: #393e46;
    line-height:40px;
    text-align:center;
    font-size:18px;
    border-radius: 5px;
    cursor:pointer;
    transition: 0.3s;
}

.left .content .social a i:hover{
    background: #00adb5;
    
}

.center .content .fa {
    font-size: 28px;
    background: #393e46;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor:pointer;
}

.center .content .fa:hover{
    background: #00adb5;    
}
.center .content .text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone {
    margin: 10px 0;
}

.right form .text {
    font-size: 16px;
    margin-bottom: 2px;
    letter-spacing: 1px;
    color: #393e46;
}

.right form .msg {
    margin-top: 10px;
}

.right form input, .right form textarea {
    width: 100%;
    font-size: 14px;
    background: #393e46;
    padding-left: 10px;
    border: 1px solid #eeeeee;
}

.right form input:focus, .right form textarea:focus {
    outline-color: #00adb5;
    resize:none;
}

.right form input {
    height: 35px;
}

.right form .button {
    margin-top: 10px;
}

.right form .button .btn-send{
    margin-bottom: 5px;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #00adb5;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
}
.right form .button .btn-send:hover {
    background: #393e46;
}

.bottom .center {
    text-align:center;
    padding: 2px;
    font-size: 14px;
    background: #00adb5;
}

    /*END FOOTER*/

        /*INDEX MAIN CONTENT*/
.presentation {
    display:flex;
    width: 90%;
    margin: auto;
    min-height: 90vh;
    align-items: center;
}
.introduction {
    flex: 1;
    animation: slide 1.5s ease;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 600;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;

}

.presentation .introduction .btn {
    padding-top: 50px;
    
}

.btn-learn {
    border-radius: 35px;
    border: 1px solid #eeeeee;
    background: transparent;
    padding:15px;
    margin-right: 30px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-decoration:none;
    font-size: 16px;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.introduction .btn{
    margin-right: 30px;
}

.btn-learn:hover {
    background: #393e46;
    border: 1px solid #eeeeee;

}


.btn-rent {
    border-radius: 35px;
    border: 1px solid #393e46;
    background: #00adb5;
    padding:15px;
    text-decoration:none;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.btn-rent:hover 
{
    background: #393e46;
    border: 1px solid #eeeeee;
}

.cover {
    flex:1;
    display: flex;
    justify-content:center;
    height: 50vh;
}

.cover img {
    height: 100%;
    animation: drop 1.5s ease;
}
        /*END INDEX MAIN-CONTENT*/
    
        /*ABOUT MAIN-CONTENT*/

section.about {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .about-presentation {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px 35px;
    width: 50%;
    align-items: center;
    background: #222831;
    border: 1px solid #00adb5;
    min-height: 80vh;
    margin-top: 8vh;
    margin-bottom: 4vh;
}

.about .about-title {
    margin-top:20px;
    font-size:28px;
}
.about .about-content p{
    margin-bottom: 1.3rem;
}

.about .car-model {
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
    justify-content: center;
    margin-right: 20px;
}

.car-model img {
    height: 100%;
    width: 100%;
    animation: drop 1s ease-in-out;
}
        /*END ABOUT MAIN-CONTENT*/

        /*LISTING MAIN-CONTENT*/

.list-container
{
    display:flex;
    flex-direction:column;
    min-height:85vh;
}

.list-container  .filter-container
{
    display:flex;
    min-height: 6vh;
    align-items:center;
    
}

.filter-button 
{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    margin: 8px auto;
    width: 90%;
    text-transform: uppercase;
}



.filter-button h2 
{
    font-size: 18px;
    padding-right: 12px;
}

.filter-button .btn 
{
    transition: all 0.3s ease;
    padding: 10px;
    background: #00adb5;
    text-decoration: none;
    margin: 2px;
}

.filter-button .btn.active {
    background: #393e46;
}

.filter-button .btn:hover 
{
    background: #393e46;
}

.list-container .car-list
{
    display: flex;
    flex-wrap:wrap;
    width: 90%;
    margin: 0 auto;
}

.car-list .car-container 
{
    background: #222831;
    margin: 15px;
    width: 200px;
    outline: 1px solid #00adb5;
}

.car-list ul {
    margin-left:15px;
    display:flex;
    list-style:none;
    flex-wrap:wrap;
    margin-bottom: 20px;
}

.car-container .img-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container .img {
    max-width: 100%;
    max-height: 100%;
    width: 90%;
}

.car-container .car-specs {
    margin-left:15px;
}

.car-specs i, .car-specs p 
{
    margin-top:5px;
}

.car-container .view-button 
{
    width: 90%;
    margin: 35px auto;
}

.view-button .btn-view 
{
    background: #00adb5;
    padding: 12px;
    text-decoration:none;
    
}

.btn-view:hover {
    background: #393e46;
    border: 1px solid #eeeeee;
}

/* LIST NAVIGATION  */
.navigation-page
{
    display:flex;
    justify-content: center;
    animation: smoothLoad 1.2s ease;
    margin-bottom:25px;
}
.navigation-number {
    justify-content: center;
    display: flex;
    width: 15%;
}
.navigation-number a {
    text-decoration: none;
    background: #222831;
    padding: 12px;
    border: 1px solid #00adb5;
    margin: 0 10px;
}

.navigation-number a:hover 
{
    background: #393e46;
    border: 1px solid #eeeeee;
}



    /* Car product */
.pac-icon {
display: none;
}
.pac-item {
white-space:pre-line;
padding: 10px;
font-size: 14px;
cursor: pointer;
background-color: #222831;
}
.pac-item-query {
    font-size: 12px;
    color:#eeeeee;
}
.pac-item:hover {
background-color: #00adb5;
}

.pac-container:after {
    background-image: none !important;
    height: 0px;
    padding: 0;
    margin: 0;
}
/*Google API END*/

.main-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 16vh;
    margin-bottom: 4vh;
    display: flex;
    justify-content:space-around;
}

.left-container {
    min-height:90vh;
    width: 60vw;
}

.left-container .car-model
{
    border: 1px solid #00adb5;
    background: #393e46;
    height: 55px;
    margin-bottom: 20px;
}

.car-model .vertical-car-model {
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 400;
}

.left-container .car-slideshow{
    height:65vh;
    background: #393e46;
    border: 1px solid #00adb5;
    margin-bottom: 20px;
    /* XCC - To center slider container*/
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.car-slideshow .slider {
    display: flex;
    width: 100%;
    height: 100%;
}

.car-slideshow .slider img {
    width: 100%;
    padding: 1% 10%;
    margin: auto 0;
}

/*slideshow buttons*/
 #prvButton{
    font-size: 30px;
    color: #eeeeee;
    cursor: pointer;
}

#nxtButton{
    font-size: 30px;
    color: #eeeeee;
    cursor: pointer;
    float: right;
} 

.car-info
{
    padding: 25px;
    min-height: 25vh;
    background: #393e46;
    border: 1px solid #00adb5;
}
.car-info h3 {
    border-bottom: 2px solid #00adb5;
}

.right-container {
    min-height: 90vh;
    min-width: 25vw;
    max-width: 25vw;
}

.right-container .price {
    border: 1px solid #00adb5;
    background: #222831;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    margin-bottom: 50px;
}

.right-container .form-group {
    border: 1px solid #00adb5;
    background: #222831;
    padding-left: 15px;
}

.form p{
    font-weight: 600;
    letter-spacing: 1px;
    margin: 5px 0;
}

.pickup-date, .drop-date, .timepick{
    color: #eeeeee;
    background-color: #393e46;
    border: 1px solid #00adb5;
    width: 100px;
    height: 25px;
    outline: none;
    text-align: center;
    cursor: pointer;
}

input#search_input{
    color: #eeeeee;
    background-color: #393e46; 
    border: 1px solid #00adb5;
    width: 250px;
    height: 35px;
    outline: none;
    resize: none;
    padding: 0 4px;
}
input#search_input2{
    color: #eeeeee;
    background-color: #393e46; 
    border: 1px solid #00adb5;
    width: 250px;
    height: 35px;
    outline: none;
    resize: none;
    padding: 0 4px;
}

input.book-btn:disabled{
    background: #393e46;
    cursor: default;
}

.book-btn {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #222831;
    background: #00adb5;
    width: 200px;
    height: 40px;
    color: #eeeeee;
    outline: none;
    cursor: pointer;
    margin: 10px 0;
    transition: all 0.5s ease;
}

.book-btn:hover {
    background: #222831;
    border: 1px solid #00adb5;
}

.right-container .price p {
    font-weight: 600;
    letter-spacing: 1px;
}

.chkBox {
    margin-top: 5px;
}

.drop-loc-container {
    display:flex;
    flex-direction: column;
    transition: all 0.5 ease;
}

.insurance
{
    margin-top: 25px;
    background: #222831;
    border: 1px solid #00adb5;
}

.insurance-info
{
    padding: 15px;
    font-size: 14px;
}

.insurance-info h3 {
    border-bottom: 1px solid #00adb5;
    margin-bottom: 5px;
}

.insurance-info i
{
    color: #00adb5;
}

.form-group label
{
    font-size:14px;
}

.form-group form select option {
    color: black;
}
.form-group form select
{
    color:black;
}
/* .chkBox input:checked + div{
    display: none !important;
} */



    /*After clicking Book now in product.php*/
.book-main-container {
    min-height: 92vh;
    width: 90%;
    margin: 8vh auto 0;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.details-container {
    display: flex;
    flex-direction: column;
    background: #393e46;
    border: 1px solid #00adb5;
    padding: 5px 10px;
}

.details-container h3 {
    border-bottom: 2px solid #00adb5;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;

}
.details-container p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
.details-container .inputs {
    width:95%;
    height: 30px;
    padding: 0 12px;
    outline: none;
    background: #222831;
    border: 1px solid #00adb5;
}

.details-container .age{
    width: 15%;
    text-align: center;
    margin-left: 10px;
}

.name-container {
    display: flex;
    margin: 25px;
}

.name-container .first-name, .name-container .last-name {
    width:50%;
}

.age-container {
    display: flex;    
    align-items: center;
    padding-left: 25px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 25px;
}

.contact-container .inputs {
    width: 270px;
}

.email-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0 0 25px;
}

.email-container .inputs {
    width: 65%;
}

.details-container .submit-btn {
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
    width: 120px;
    height: 40px;
    background: #00adb5;
    outline: none;
    border: 1px solid #eeeeee;
    cursor: pointer;
}

.details-container .submit-btn:hover {
    background: #222831;
    border: 1px solid #00adb5;
}

.credit-container h3 {
    justify-content: space-between;
    display: flex;
    padding-right: 15px;
}

.credit-container .fab {
    letter-spacing: 3px;
    font-size: 30px;
    display: none;
}

.submit-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.submit-container h4 {
    display: none;
    color: red;
    font-weight: 300;
    font-size: 14px;
}


.book-details {
    background: #393e46;
    border: 1px solid #00adb5;

}

.book-details-container {
    flex-direction: column;
    align-items: center;
    DISPLAY: FLEX;
    width: 30vw;
}

.book-details-container table{
    width: 90%;
    table-layout: fixed;
    overflow-wrap: break-word;
}

.book-date {
    text-align: -webkit-center;
    text-align-last: left;
}

.book-details-container{
    margin: 10px;
}

.book-details-container .car-img {
    height: 35vh;
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-img img {
    width:100%;
}





                                /* SUBMIT BOOK PHP */
.submitted-details {
    width: 90%;
    min-height: 80vh;
    margin: 16vh auto 8vh;
    font-size: 25px;
}

.homepage-btn {
    text-decoration: none;
    background: #222831;
    margin: 20px;
    border: 1px solid #00adb5;
    font-size: 13px;
    padding: 10px;
}
.homepage-btn:hover {
    background: #00adb5;
    transition: all 0.5s ease;
    cursor: pointer;
}
.submitted-info {
    background: #393e46;
    min-height: 50vh;
    padding: 42px 45px;
    width:55%;
    border: 1px solid #00adb5;
}

.container {
    display: flex;
    color:#222831
}

.submitted-info p{
    margin-top: 10px;
    margin-bottom: 45px;
    text-indent: 5vh;
}

.container-img {
    justify-content: center;
    align-items: center;
    display: flex;
}

.thumbnail {
    background: #222831;
    border-left: none;
    border: 1px solid #00adb5;
    width: 45%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}

/* MANAGE PHP  */
.manager-container {
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
}

.manager-container .search-form {
    min-height: 20vh;
    background: #393e46;
    border: 1px solid #00adb5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 20vh 0 40px;
}

.search-container {
    background: #393e46;
    border: 1px solid #00adb5;
    min-height: 60vh;
    margin-bottom: 20vh;
    padding: 0 2%;
    display: flex;
    align-items: center;
}

.ref-container {
    margin: 50px;
}

.ref-container .inputs{
    background: #222831;
    outline: none;
    border: 1px solid #00adb5;
    height: 40px;
    width: 220px;
    text-align: center;
}
.e-mail-container .inputs{
    background: #222831;
    outline: none;
    border: 1px solid #00adb5;
    height: 40px;
    width: 220px;
    text-align: center;
}

.e-mail-container {
    margin: 50px;
}

.manager-container button.submit-btn {
    background: #222831;
    outline: none;
    border: 1px solid #00adb5;
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin: 50px;
}
.manager-container button.submit-btn:hover {
    background: #00adb5;
    border: 1px solid #eeeeee;
    transition: all 0.5s ease;
}

.booking-details {
    width: 50%;
    height: 100%;
}

.booking-details table{
    table-layout: fixed;
    overflow-wrap: break-word;
    width: 100%;
}

form.cancel-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.cancel-btn {
    background: #222831;
    outline: none;
    border: 1px solid #00adb5;
    height: 45px;
    width: 130px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.cancel-btn:hover {
    background: #00adb5;
    border: 1px solid #eeeeee;
}
.car-img-container {
    width: 50%;
}
.car-img-container img{
        width: 100%;
        height: 100%;
}

/* FAQ PHP */
.faq-container{
    min-height: 100vh;
    background-color: #393e46;
    border: 1px solid #00adb5;
    width: 70%;
    margin: 15vh auto 8vh;
    padding: 30px;
}

.faq-container h1{
    border-bottom: 1px solid #00adb5;
    margin-bottom: 20px;
}

.question-answer {
    margin-bottom: 20px;
}


            /*DATE TIME PICKER*/
.ui-datepicker table
{
    background: #222831 !important;
}
span.ui-datepicker-month
{
    color: #222831;
}
span.ui-datepicker-year{
    color: #222831 !important;
}
            /* TIME PICKER */
.ui-timepicker-viewport{
    background: #222831 !important;    
}
.ui-timepicker-standard a{
    color: #eeeeee !important;
}

.ui-timepicker-standard .ui-state-hover{
    color:#222831 !important;
}
.ui-timepicker-standard {
    background: none !important;
    border: none !important;
}
.ui-widget-content
{
    background: none !important;
}






    /*ANIMATION*/
@keyframes drop { /*CAR DROP*/
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slide { /*INTRO-TEXT SLIDE*/
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFade { /*NAV-LINK JAVASCRIPT FADE*/
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes smoothLoad
{
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
    /*END ANIMATION*/

    /* RESPONSIVE WEBPAGE*/
@media screen and (max-width: 670px){
    .navigation-page{
    margin-bottom: 20px;

    }
    .navigation-number {
    width:25%;
    }
    .car-list ul {
    justify-content: center;
    }

}



@media screen and (max-width: 1085px) {
    .nav-active{
        z-index: 100;
    }    
}
/*For Mobile user*/
@media screen and (max-width: 450px) {
        /*INDEX PHP*/
    .introduction .btn {
    margin-right: 0;
    }
    .cover img {
        
    height: 50%;
    }

}

@media screen and (max-width: 860px) {
    
    /* ABOUT MODEL */

    section.about {
        flex-direction: column-reverse;
    }

    .about .about-presentation
    {
        width: 90%;
    }
    
    .about .car-model
    {
        width: 90%;
        margin-right: 0;
    }


                        /*PRODUCT PHP*/
    .main-container {
            flex-direction: column;
        }    
    .left-container{
        margin-bottom: 30px;
        width: 100%;
    }   
    .car-list .car-container{
        width: 170px;
        }
    .list-container .car-list {
        width: 100%;
    }

                    /* PRODUCT PHP END*/

    /* input details PHP */
    .book-details, .details-container {
        margin-top: 30px;
    }
            
    .book-details {
        margin-bottom: 30px;
    }
    .book-details-container {
        width: 100%;
    }
    .details-container {
        height:100%;
    }
    /* input details PHP END */

    /* SUBMIT PHP */
    .container {
        display: flex;
        flex-direction: column;
        color: #222831;
    }

    .submitted-info {
        width: 100%;
    }

    .thumbnail {
        width: 100%;
    }/* SUBMIT PHP END */

    /* MANAGE PHP*/
    .manager-container form {
        flex-direction: column;
        align-items: center;
    }

    .manager-container button.submit-btn {
        width: 220px;
    }

    .search-container {
        flex-direction: column;
    }

    .booking-details {
        width: 100%;
    }

    .car-img-container {
        width: 100%;
    }
    .manager-container .search-form {
        align-items: center;
    }
    
    /* MANAGE PHP END*/


}


@media screen and (max-width: 820px) {
    body {
        overflow-x: hidden;
    }

    /*RESPONSIVE NAVIGATION BAR*/
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #222831;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-link {
        opacity: 0;
    }

    .burger {
        display: block;
        padding-right: 5vw;
        cursor: pointer;
    }

    /*RESPONSIVE FOOTER*/
    .footer {
        position: relative;
        bottom: 0px;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction:column;
    }
    .main-content .box {
        margin: 5px 0;
    }
    /*END FOOTER*/
    /*input details*/
    .book-main-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 1070px) 
{
    /*RESPONSIVE MAIN-CONTENT*/
    .presentation {
        flex-direction: column;
    }

    .introduction {
        margin-top: 5vh;
        text-align: center;
    }

    .intro-text h1 {
        font-size: 30px;
    }

    .intro-text p {
        font-size: 18px;
    }

    .introduction .btn {
        padding-top: 5vh;
    }

    .cover img {
        margin-top: 5vh;
        height: 65%;
    }

    .nav-active {
        transform: translateX(0%);
    }

    /*product.php*/
    .car-slideshow .slider img{
        padding: 0;
    }
} 

@media screen and (max-width: 1320px) {
    /*CAR LISTING*/
    .car-list ul {
        margin-left: 0;
    }

    .car-list .car-container {
        margin: 8px;
    }
}

/* DATEPICKER */
.ui-datepicker select.ui-datepicker-month {
    color: black;
}

.ui-datepicker select.ui-datepicker-month option{
    color: black;
}